p {
  margin: 0%;
}

.navbar {
  padding: 18px 32px 18px 32px;
  max-width: 1280px;
  margin: auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.navbar .navbarbody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 32px;
}
.navbar .navbarbody .navbar_main {
  max-width: 582px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar .navbarbody .navbar_main .navbar_logo_title {
  width: 157px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 40px;
}
.navbar .navbarbody .navbar_main .navbar_logo_title .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 32px;
  height: 32px;
}
.navbar .navbarbody .navbar_main .navbar_logo_title .logo_title {
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  margin: 0%;
}
.navbar .navbarbody .navbar_main .naivbar_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.navbar .navbarbody .navbar_main .naivbar_list .naivlist1 {
  width: 49px;
  height: 24px;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin: 0%;
}
.navbar .navbarbody .navbar_main .naivbar_list .naivlist2 {
  width: 50px;
  height: 24px;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin: 0%;
}
.navbar .navbarbody .navbar_main .naivbar_list .naivlist3 {
  width: 133px;
  height: 24px;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin: 0%;
}
.navbar .navbarbody .navbar_main .naivbar_list .naivlist4 {
  width: 57px;
  height: 24px;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin: 0%;
}
.navbar .navbarbody .login_signup {
  max-width: 142px;
  height: 36px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.navbar .navbarbody .login_signup .login {
  width: 48px;
  height: 24p;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.navbar .navbarbody .login_signup .signup {
  width: 82px;
  height: 36px;
  border-radius: 8px;
  background-color: #15B79E;
  border: none;
}
.navbar .navbarbody #menu_toggle {
  display: none;
}
.navbar .navbarbody .menu-toggle {
  display: none;
}
.navbar .navbarbody .hamburger {
  display: none;
}
.navbar .navbarbody .dropdown_menu {
  display: none;
}

.first_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 96px 32px 96px 32px;
  max-width: 1280px;
  margin: auto;
}
.first_page .first_textbox {
  max-width: 576px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.first_page .first_textbox .first_textbox1 {
  max-width: 576px;
  height: 192px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.first_page .first_textbox .first_textbox1 .first_textbox_head {
  width: 100%;
  height: 72px;
  font-family: poppins;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 72px;
}
.first_page .first_textbox .first_textbox1 .first_textbox_image {
  max-width: 480px;
}
.first_page .first_textbox .first_textbox1 .first_textbox_paragraph {
  width: 100%;
  height: 60px;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
}
.first_page .first_textbox .first_textbox_button:hover {
  background-color: #0E9384;
}
.first_page .first_textbox .first_textbox_button {
  font-family: poppins;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 28px;
  background-color: #15B79E;
  color: #FFFFFF;
  width: 171px;
  height: 60px;
  border-radius: 8px;
  padding: 16px 28px 16px 28px;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
.first_page .first_imagebox {
  max-width: 576px;
  max-height: 576px;
}

.second_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 96px 32px 96px 32px;
  max-width: 1280px;
  margin: auto;
}
.second_page .second_textpart {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.second_page .second_textpart .second_textpart_head {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 16px;
}
.second_page .second_textpart .second_textpart_head .second_textpart1 {
  width: 100%;
  height: 24px;
  font-family: poppins;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #15B79E;
  text-align: center;
}
.second_page .second_textpart .second_textpart_head .second_textpart2 {
  width: 100%;
  height: 44px;
  font-family: poppins;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
}
.second_page .second_textpart .second_textpart3 {
  width: 100%;
  height: 30px;
  font-family: poppins;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
}
.second_page .second_imagepart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.second_page .second_imagepart .second_imagepart1 {
  max-width: 576px;
  max-height: 576px;
}
.second_page .second_imagepart .second_cardpart {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 42px 0px 42px 0px;
}
.second_page .second_imagepart .second_cardpart .second_cardrow {
  max-width: 776px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
.second_page .second_imagepart .second_cardpart .second_cardrow .second_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 272px;
  height: 226px;
}
.second_page .second_imagepart .second_cardpart .second_cardrow .second_card .second_card_textspace {
  width: 272px;
  height: 158px;
}
.second_page .second_imagepart .second_cardpart .second_cardrow .second_card .second_card_textspace .second_div2_text_heading {
  width: 100%;
  font-family: poppins;
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 600;
}
.second_page .second_imagepart .second_cardpart .second_cardrow .second_card .second_card_textspace .second_div2_text_paragraph {
  width: 100%;
  font-family: poppins;
  font-size: 1rem;
  line-height: 30px;
}

.third_page {
  max-width: 1440px;
  background-color: #125D56;
  padding: 0px 80px 0px 80px;
  margin: auto;
  display: flex;
}
.third_page .third_page_main {
  width: 100%;
  padding: 96px 32px 96px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}
.third_page .third_page_main .third_textpart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.third_page .third_page_main .third_textpart .third_page_head {
  width: 100%;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 16px;
}
.third_page .third_page_main .third_textpart .third_page_head .third_page_part1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #15B79E;
  text-align: center;
  width: 100%;
}
.third_page .third_page_main .third_textpart .third_page_head .third_page_part2 {
  width: 100%;
  font-family: poppins;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  color: white;
  height: 44px;
  text-align: center;
}
.third_page .third_page_main .third_textpart .third_page_part3 {
  width: 100%;
  height: 30px;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
  color: white;
  text-align: center;
}
.third_page .third_page_main .third_page_cardpart {
  width: 100%;
  background-color: #0b5f53;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
.third_page .third_page_main .third_page_cardpart .third_page_card {
  max-width: 384px;
  border-radius: 20px;
  border: 1px;
  background-color: white;
  padding: 32px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.third_page .third_page_main .third_page_cardpart .third_page_card .third_page_card_p1 {
  padding-top: 20px;
  font-family: poppins;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
  padding-bottom: 8px;
}
.third_page .third_page_main .third_page_cardpart .third_page_card .third_page_card_p2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
}

.four_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 96px 32px 96px 32px;
  max-width: 1280px;
  margin: auto;
  gap: 64px;
}
.four_page .four_page_text {
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 232px;
  max-width: 576px;
  gap: 24px;
}
.four_page .four_page_text .four_page_text_p1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  height: 88px;
}
.four_page .four_page_text .four_page_text_p2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
  height: 120px;
}

.five_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 96px 32px 96px 32px;
  max-width: 1280px;
  margin: auto;
}
.five_page .five_page_colorarea {
  width: 100%;
  height: 394px;
  border-radius: 20px;
  background-color: #125D56;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.five_page .five_page_colorarea .five_page_innerarea {
  width: 100%;
  height: 202px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.five_page .five_page_colorarea .five_page_innerarea .five_page_textarea {
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.five_page .five_page_colorarea .five_page_innerarea .five_page_textarea .five_page_p1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
  color: white;
}
.five_page .five_page_colorarea .five_page_innerarea .five_page_textarea .five_page_p2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
  color: #D0D5DD;
}
.five_page .five_page_colorarea .five_page_innerarea .five_page_button:hover {
  background-color: #0E9384;
}
.five_page .five_page_colorarea .five_page_innerarea .five_page_button {
  width: 171px;
  height: 60px;
  border-radius: 8px;
  padding: 16px 28px 16px 28px;
  background-color: #15B79E;
  border: none;
}

.last_page {
  max-width: 1440px;
  margin: auto;
  padding: 64px 80px 48px 80px;
}
.last_page .last_page1 {
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
}
.last_page .last_page1 .about_us {
  width: 100%;
  padding: 0px 32px 0px 32px;
  display: flex;
  justify-self: center;
}
.last_page .last_page1 .about_us .about_us1 {
  width: 350px;
}
.last_page .last_page1 .about_us .about_us1 .about_margin .navbar_logo_title1 {
  width: 265px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 40px;
  align-items: center;
}
.last_page .last_page1 .about_us .about_us1 .about_margin .navbar_logo_title1 .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 32px;
  height: 32px;
}
.last_page .last_page1 .about_us .about_us1 .about_margin .navbar_logo_title1 .logo_title1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  color: #101828;
  margin: 0%;
}
.last_page .last_page1 .about_us .about_us_text {
  display: flex;
  justify-content: space-around;
  flex: 1 1;
}
.last_page .last_page1 .about_us .about_us_text .about_us_content {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}
.last_page .last_page1 .about_us .about_us_text .about_us_content li:first-child {
  font-family: poppins;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}
.last_page .last_page1 .about_us .about_us_text .about_us_content li {
  font-family: poppins;
  font-weight: 600;
  size: 1.25rem;
  line-height: 24px;
  margin: 16px;
}
.last_page .last_page1 .final_dropdown {
  display: none;
}
.last_page .last_page1 .last_foot {
  display: flex;
  width: 100%;
  height: 98px;
  align-items: center;
  justify-content: center;
  padding: 31px 32px 31px 32px;
}
.last_page .last_page1 .last_foot .foot_innerspace {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.last_page .last_page1 .last_foot .foot_innerspace .foot_textspace {
  max-width: 255px;
  height: 25px;
  font-family: montserrat;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 24.5px;
  text-align: center;
}
.last_page .last_page1 .last_foot .foot_innerspace .foot_imagespace {
  max-width: 168px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}/*# sourceMappingURL=index.css.map */