@media only screen and (max-width: 376px){
    .navbar{
        padding: 16px;
    }
    .navbar_logo_title{
        justify-content: center;
    }
    .first_page{
        padding: 64px 16px 64px 16px;
    }
    .first_text_div_heading{
        width: 100%;
        height: 44px;
        font-size: 36px;
        line-height: 44px;
    }
    .first_image_div img{
        width: 100%;
        height: 343px;
    }
    .first_text_div_paragraph{
        max-width: 343px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
    }
    .first_text_div_button{
        width: 343px;
        height: 16px;
        font-size: 24px;
        height: 48px;
    }
    .third_page_dev1{
        height: 270px;
        justify-content: space-between;
    }
    .third_page_dev1_2{
        font-size: 30px;
        line-height: 38px;
    }
    .third_page_dev1_3{
        font-size: 18px;
        line-height: 28px;
    }
    .third_page_dev2_p1{
        font-size: 18px;
        line-height: 28px;
    }
    .third_page_dev2_p2{
        font-size: 16px;
        line-height: 24px;
    }
    .third_page_dev2_area{
        height: 264px;
    }
    .four_page_dev1_p1{
        font-size: 30px;
        line-height: 38px;
    }
    .four_page_dev1_p2{
        font-size: 18px;
        line-height: 28px;
    }
    .five_page {
        padding:32px;
    }
    .five_page_p1{
        font-size: 30px;
        line-height: 38px;
    }
    .five_page_p2{
        font-size: 18px;
        line-height: 28px;
    }


    
    .logo{
        width: 24px;
        height: 24px;
    }
    .first_page{
        width: 375px;
    }
    .first_image_div img{
        width: 100%;
        height: 343px;
    }
    .first_text_div{
        width: 342px;
        height: 252px;
    }
    .first_text_div_heading{
        max-width: 343px;
        height: 44px;
        font-size: 36px;
        line-height: 44px;
    }
    .first_text_div_image{
        max-width: 343px;
        height: 12px;
    }
    .first_text_div_paragraph{
        max-width: 343px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
    }
    .second_page{
        display: block;
        padding: 64px 16px 64px 16px;
    }
    .six_page_div2_foot_p{
        text-align: left;
    }
}