$padding:64px 16px 64px 16px;

@media only screen and (max-width: 709px){

    .first_page{
        padding:$padding;
        .first_imagebox{
            max-width: 343px;
            max-height: 343px;
        }
        .first_textbox{
            max-width: 343px;
            height: 252px;
            .first_textbox1{
                height: 172px;
                .first_textbox_head{
                    font-size: 2rem;
                    line-height: 44px;
                    text-align: center;
                }
                .first_textbox_image{
                    max-width: 343px;
                }
                .first_textbox_paragraph{
                    font-size: 1.125rem;
                    line-height: 28px;
                    text-align: center;
                }
            }
            .first_textbox_button{
                max-width: 343px;
                height: 48px;
                font-size: 1rem;
                line-height: 28px;
                justify-content: center;
            }
        }
    }
    .second_page{
        padding: $padding;
         .second_textpart {
            .second_textpart_head{
                .second_textpart2{
                    font-size: 1.875rem;
                    line-height: 38px;
                }
            }
            .second_textpart3 {
                font-size: 1.25rem;
                    line-height: 30px;
            }
         }
         .second_imagepart {
            .second_imagepart1 {
                max-width: 343px;
                max-height: 343px;

            }
            .second_cardpart {
                .second_cardrow{
                    flex-direction: column;
                }
        }
    }
    }
    .third_page {
        padding: $padding;
        .third_page_main{
            .third_textpart{
                position: relative;
                height:250px ;
                 .third_page_head{
                    justify-content: space-between;
                    height: 150px;
                    max-width: 343px;
                    .third_page_part2{
                        font-size: 1.875rem;
                        line-height: 38px;
                        margin-bottom: 20px;
                    }
                }
                .third_page_part3{
                    font-size: 1.125rem;
                    line-height: 28px;
                    position: absolute;
                    bottom: 0%;
                }
            }
            .third_page_cardpart{
                grid-template-columns: 1fr;
                .third_page_card{
                    max-width: 243px;
                }
            }
        }
    }
    .four_page{
        padding: $padding;
         .four_page_image{
            max-width: 343px;
            max-height: 343px;
         }
         .four_page_text{
            max-width: 343px;
            max-height: 288px;
         }
    }
    .five_page{
        padding: $padding;
        .five_page_colorarea{
            height: 356px;
            .five_page_innerarea{
                .five_page_textarea{
                    .five_page_p1{
                        font-size: 1.875rem;
                        line-height: 38px;
                    }
                    .five_page_p2{
                        font-size: 1.125rem;
                        line-height: 28px;
                    }
                }
                .five_page_button{
                    width: 279px;
                }
            }
        }
    }

    

}

